header{

    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times,sans-serif;
    color: white;
}

body{
background-image: url(../images/cinema.jpg);
background-size: cover;
background-position: center;

}



ul{

    color: white;
}

.realisateur{

list-style: none;
color: greenyellow;
font-size: 25px;
margin-left: 0px;
padding-left: 0px;
}

.Titre{

color: white;
    list-style: upper-latin;
   font-size: initial;
}

.acteur{

    list-style-type: disc;
    font-size: initial;
    color: white;

}
